/* write your override styles here */
#wall .tag-1 {
    background: none;
    display: none;
}
  
div#wall #tag-2 {
    display: none;
    background: none;
}
  
body div#wall #tag-3.slick {
    display: none;
    background: none;
}
  
div#wall #tag-4 {
    display: none;
    background: none;
}
  
div#wall .parent #tag-5.slick {
    display: none;
    background: none;
}
  
div#wall > div.parent {
    display: none;
    background: none;
}